---
import Social from "@components/ui/Social.astro";
import bgseo from '@assets/images/bgseo.png'
import perfil from '@assets/perfil/Linkedin2.png'

---


<section id="/">
    <div class="relative md:py-64 py-36 items-center bg-center bg-no-repeat bg-cover" style={{ backgroundImage: `url('${bgseo.src}')` }}>
        <div class="container relative">
            <div class="relative grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
                <div class="md:col-span-7">
                    <div class="md:me-8">
                        
                        <p class="text-lg max-w-xl">Hola 游녦, me presento mi nombre es.</p>
                        <h4 class="relative text-white font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5">Ignacio L칩pez Campos <br> 
                            <span class=" text-indigo-600">Consultor de procesos</span><br>
                            <span class=" text-indigo-600">RPA - Automatizaci칩n</span>
                        </h4>
                        <p class="text-lg max-w-xl">
                            Cuento con m치s de 16 a침os de experiencia en consultor칤a de negocios, automatizaci칩n de procesos y proyectos de implementaci칩n, optimizaci칩n y desarrollo para variadas industrias del mercado.
                        </p>
                        
                        <div class="relative mt-8 px-0 text-start">
                            <Social />
                        </div>
                    </div>
                </div>
                
                <div class="md:col-span-5">
                    <div class="relative">
                        <div class="relative rounded-xl overflow-hidden shadow-md">
                            <div class="w-full py-72 bg-cover bg-no-repeat bg-top jarallax" style={{ backgroundImage: `url('${perfil.src}')` }}></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="relative">
        <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden ">
            <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#0f172b"></path>
            </svg>
        </div>
    </div>

    <div class="relative md:pb-24 pb-16">
        <div class="container relative">
            <div class="md:flex justify-center">
                <div class="lg:w-3/4 md:w-full relative -mt-16">
                    <div class="p-6 rounded-md shadow shadow-gray-800 border border-slate-700 bg-slate-900 text-white">
                        <div class="md:flex justify-center">
                            <div class="md:w-1/3">
                                <div class="text-center">
                                    <h6 class="mb-0">Proyectos Realizados</h6>
                                    <h2 class="mb-0 text-4xl mt-3 font-bold">+30</h2>
                                </div>
                            </div>

                            <div class="md:w-1/3 mt-8 md:mt-0">
                                <div class="text-center">
                                    <h6 class="mb-0">Automatizaciones Implementadas</h6>
                                    <h2 class="mb-0 text-4xl mt-3 font-bold">+200</h2>
                                </div>
                            </div>

                            <div class="md:w-1/3 mt-8 md:mt-0">
                                <div class="text-center">
                                    <h6 class="mb-0">A침os de Experiencia</h6>
                                    <h2 class="mb-0 text-4xl mt-3 font-bold">+16</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container relative md:mt-24 mt-16">
            <div class="grid grid-cols-1 pb-8 text-center">
                <h6 class="text-indigo-600 text-sm font-bold uppercase mb-2">About me</h6>
                <h3 class="text-white mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Acerca de m칤</h3>

            </div>
            <div class="flex justify-center">
                <div class="lg:max-w-4xl w-full text-center">
                    <p>
                        Hola 游녦 Mi nombre es Ignacio L칩pez Campos, Titulado de Ingenier칤a en Inform치tica, Cuento con experiencia en Consultor칤a de procesos, con m치s de 5 a침os de experiencia en desarrollo de automatizaciones en las principales herramientas del mercado.
                    </p>
                    <p class="mt-8">
                        He sido responsable del levantamiento de procesos y desarrollo de automatizaciones, para dar soluciones a diversos clientes del mercado tales como, Codelco, Tecno Fast, Minera las Bambas, Candelaria, Bupa, Larrain Vial, AMSA, Entre otros.
                    </p>
                    <p class="mt-8">
                        Mi trayectoria profesional ha permitido consolidar t칠cnicas de desarrollo de software e implementaci칩n de soluciones, acordes a las exigencias actuales de los negocios. Al mismo tiempo he adquirido conocimientos en lenguajes de programaci칩n y herramientas de desarrollo. Hoy mi fortaleza es combinar estos conocimientos para automatizar procesos y crear herramientas capaces de solucionar, de forma eficiente las necesidades actuales de mis clientes. 
                    </p>
                    <p class="mt-8">
                        Dentro de mi carrera profesional como Consultor BPC estuve en grandes empresas como PwC Chile, Axity Chile y TBusiness En este rol tom칠 grandes desaf칤os; como el desarrollo e implementaci칩n de herramientas de levantamiento de procesos y consultor칤a SAP BPC. Generando reportes e indicadores de control para grandes empresas de miner칤a y otros segmentos de mercado. Debo mencionar que he utilizado distintos tipos de metodolog칤as para las entrevistas y comunicaci칩n con mis clientes y equipos, para avanzar y entender c칩mo funcionan, cu치les son sus metas y objetivos entregando soluciones acordes pero que generen un impacto en las 치reas de mejora.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
