---
import Social from "./Social.astro"
---


<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">    
    <div class="container relative">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="py-[60px] px-0">
                    <div class="grid grid-cols-1">
                        <div class="text-center">
                            <Social />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container relative text-center">
            <div class="grid md:grid-cols-1">
                <p class="mb-0">© {new Date().getFullYear()} Ignacio López Campos.</p>
            </div>
        </div>
    </div>
</footer>