---
import { Picture } from 'astro:assets'
import cl from '@assets/perfil/cl.svg'
import gb from '@assets/perfil/gb.svg'
---


<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
    <div class="container relative">

        <div class="menu-extras">
            <div class="menu-item">
                <!-- <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()"> -->
                <a class="navbar-toggle" id="isToggle" data-toggle-nav>
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
        
        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <!-- DARK MODE -->
            <!-- <li class="inline mb-0">               
                <a id="mode" class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-800 border-indigo-600 border hover:border-indigo-800  text-white">
                    <i id="theme-icon" class="uil uil-sun text-md align-middle"></i>
                </a>
            </li> -->

            <!-- ESPAÑOL O ENGLISH -->
            <!-- <li class="inline mb-0">               
                <a id="mode" class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-800 border-indigo-600 border hover:border-indigo-800  text-white">
                    <Picture src={cl} alt='ibm' width={cl.width} height={cl.height} format={cl.format} class="rounded-full size-9 md:ms-auto" />
                </a>
            </li> -->
            
            <li class="inline ps-1 mb-0">
                <a id="CV" data-tooltip="Curriculum Vitae" href="CV Ignacio Lopez Campos ES.pdf" target="_blank" 
                    class="px-5 py-1 me-10 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-800 border-indigo-600 border hover:border-indigo-800 text-white rounded-md">
                    <i class="uil uil-file-blank"></i> CV 
                </a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation" >
            <ul class="navigation-menu text-white">
                <li><a href="#/" class="">Home</a></li>
                <li><a href="#experience" class="sub-menu-item">Expeciencia</a></li>
                <li><a href="#tech" class="sub-menu-item">Tecnologias</a></li>
                <li><a href="#education" class="sub-menu-item">Educación</a></li>
                <!-- <li><a href="#project" class="sub-menu-item">Proyectos</a></li> -->
                <li><a href="#faq" class="sub-menu-item">FAQ's</a></li>
                <li><a href="#contact" class="sub-menu-item">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>



<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        // Toggle menu
        const toggleButton = document.querySelector('[data-toggle-nav]');
        
        if (toggleButton) {
            toggleButton.addEventListener('click', function() {
                const toggle = document.getElementById('isToggle');
                const isOpen = document.getElementById('navigation');
                
                toggle.classList.toggle('open');
                if (isOpen.style.display === "block") {
                    isOpen.style.display = "none";
                } else {
                    isOpen.style.display = "block";
                }
            });
        }
    });
</script>

<!-- <script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        const themeToggleBtn = document.getElementById('mode');
        const themeIcon = document.getElementById('theme-icon');
        
        // Función para actualizar el icono
        const updateIcon = (isDark) => {
            themeIcon.classList.remove('uil-sun', 'uil-moon');
            themeIcon.classList.add(isDark ? 'uil-moon' : 'uil-sun');
        };
        
        // Establecer icono inicial
        const isDarkMode = localStorage.theme === 'dark' || 
            (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
        
        if (isDarkMode) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
        
        updateIcon(isDarkMode);

        // Theme toggle handler
        themeToggleBtn.addEventListener('click', function() {
            const element = document.documentElement;
            element.classList.toggle("dark");
            
            const isDark = element.classList.contains("dark");
            localStorage.theme = isDark ? 'dark' : 'light';
            
            updateIcon(isDark);
        });
    });
</script> -->

