---
import back from '@assets/images/back.png'


---

<section class="py-10 w-full table relative bg-indigo-800">
    <div class="absolute inset-0 bg-bottom bg-no-repeat bg-cover" style={{ backgroundImage: `url('${back.src}')` }}></div>
    <div class="container relative">
        <div class="grid lg:grid-cols-2 grid-cols-1 items-center gap-[30px]">
            <div class="order-2 lg:order-1 lg:mt-0 mt-8">
                <div class="lg:me-6 text-center lg:text-start">
                    <h3 class="mb-4 md:text-4xl text-3xl lg:leading-normal leading-normal text-white font-semibold">Cantidad de procesos <br> mapeados</h3>
                    <p class="text-white/80 max-w-xl mx-auto lg:ms-auto">Start working with Techwind that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div>
            </div>

            <div class="order-1 lg:order-2">
                <div class="grid grid-cols-2 gap-[30px]">
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-bold mb-2 text-white"><span class="counter-value" data-target="145">101</span>M</h1>
                        <h5 class="text-white text-xl font-medium">Procesos mapeados</h5>
                    </div>
                    
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-bold mb-2 text-white"><span class="counter-value" data-target="99">2</span>%</h1>
                        <h5 class="text-white text-xl font-medium">Procesos automatizados</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


