---

---

<div>
    <ul class="list-none">
        <li class="inline me-1">
            <a href="https://github.com/ignaciolopezc/ignaciolopezc" target="_blank" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border-gray-800 rounded-md border hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600 hover:text-white">
                <i class="uil uil-github text-xl align-middle" title="Github"></i>
            </a>
        </li>
        <li class="inline me-1">
            <a href="https://www.linkedin.com/in/ignaciolopezcampos/" target="_blank" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border-gray-800 rounded-md border hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600 hover:text-white">
                <i class="uil uil-linkedin text-xl align-middle" title="Linkedin"></i>
            </a>
        </li>
        <li class="inline me-1">
            <a href="mailto:" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border-gray-800 rounded-md border hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600 hover:text-white">
                <i class="uil uil-envelope text-xl align-middle" title="email"></i>
            </a>
        </li>
        <li class="inline me-1">
            <a href="CV Ignacio Lopez Campos ES.pdf" target="_blank" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border-gray-800 rounded-md border hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600 hover:text-white">
                <i class="uil uil-file text-xl align-middle" title="CV"></i>
            </a>
        </li>
        <li class="inline me-1">
            <a href="#hero" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border-gray-800 rounded-md border hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600 hover:text-white">
                <i class="uil uil-globe text-xl align-middle" title="Website"></i>
            </a>
        </li>
    </ul>
</div>