---
import { Picture } from 'astro:assets';
import back from '@assets/images/back.png'

import astro from "@assets/icons/astro.svg"
import html from "@assets/icons/html5.svg"
import css from "@assets/icons/css3.svg"
import js from "@assets/icons/javascript.svg"
import github from "@assets/icons/github-light.svg"
import git from "@assets/icons/git.svg"
import react from "@assets/icons/reactjs.svg"
import tailwindcss from "@assets/icons/tailwindcss.svg"
import copilot from "@assets/icons/copilot.svg"
import githubcopilot from "@assets/icons/github-copilot.svg"
import openai from "@assets/icons/openai.svg"
import nodejs from "@assets/icons/nodejs.svg"
import markdown from "@assets/icons/markdown.svg"
import npm from "@assets/icons/npm.svg"
import python from "@assets/icons/python.svg"
import vite from "@assets/icons/vitejs.svg"
import automation from "@assets/icons/AA360.png"
import powerautomate from "@assets/icons/pp.svg"
import uipath from "@assets/icons/uipath.png"
import vscode from "@assets/icons/vscode.svg"
import firefox from "@assets/icons/firefox.svg"
import postmann from "@assets/icons/postman.svg"
import jira from "@assets/icons/jira.svg"
import notion from "@assets/icons/notion.svg"
import linkedin from "@assets/icons/linkedin.svg"
import sql from "@assets/icons/sqlserver.svg"
import postgres from "@assets/icons/postgresql.svg"
import mongodb from "@assets/icons/mongodb.svg"
import mysql from "@assets/icons/mysql.svg";

const lenguajes = [
  { url: astro, name: "Astro JS" },
  { url: html, name: "HTML5" },
  { url: css, name: "CSS" },
  { url: js, name: "JavaScript" },
  { url: github, name: "Github" },
  { url: git, name: "Git" },
  { url: react, name: "React" },
  { url: tailwindcss, name: "Tailwind CSS" },
  { url: copilot, name: "Copilot" },
  { url: githubcopilot, name: "Github Copilot" },
  { url: openai, name: "OpenAI" },
  { url: nodejs, name: "Node.js" },
  { url: markdown, name: "Markdown" },
  { url: npm, name: "NPM" },
  { url: python, name: "Python" },
  { url: vite, name: "Vite" },
  { url: automation, name: "Automation" },
  { url: powerautomate, name: "Power Automate" },
  { url: uipath, name: "UIPath" },
  { url: vscode, name: "VSCode" },
  { url: firefox, name: "Firefox" },
  { url: postmann, name: "Postman" },
  { url: jira, name: "Jira" },
  { url: notion, name: "Notion" },
  { url: linkedin, name: "LinkedIn" },
  { url: sql, name: "SQL Server" },
  { url: postgres, name: "PostgreSQL" },
  { url: mongodb, name: "MongoDB" },
  { url: mysql, name: "MySQL" }
];

---


<section id="tech" class="relative md:py-24 py-16">
    <div class="absolute inset-0 bg-bottom bg-no-repeat bg-cover" style={{ backgroundImage: `url('${back.src}')` }}></div>
    <div class="container relative">
        
        <div class="grid grid-cols-1 pb-2 text-center">
            <h6 class="text-indigo-600 text-sm font-bold uppercase mb-2">Tech</h6>
            <h3 class="text-white mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Herramientas y Tecnologia</h3>

            <p class="text-slate-400 max-w-2xl mx-auto">A lo largo de mi carrera como consultor he acumulado algo de experiencia con las siguientes herramientas, lenguajes y tecnologias.</p>
        </div>
    

        <div class="flex justify-center items-center text-center mt-8">
            <ul class="list-none space-x-3 space-y-4">

                {lenguajes.map(l => (
                    <li class="inline-block group">
                        <div class="group flex items-center py-1.5 px-4 rounded-full align-middle duration-300 text-slate-400 border-4
                            border-double border-gray-100 hover:border-indigo-600/30 dark:border-gray-800 shadow hover:shadow-md bg-slate-900 dark:shadow-gray-800 hover:text-indigo-600 hover:dark:shadow-gray-800 hover:dark:border-indigo-600/50 
                            [filter:grayscale(50%)] group-hover:[filter:grayscale(0%)]
                            group-hover:shadow-md
                            group-hover:dark:shadow-gray-800
                            group-hover:border-indigo-600/30
                            group-hover:dark:border-indigo-600/50
                            transition-all">
                            <Picture class="size-3 me-2 transition-all duration-300" src={l.url} alt={l.name} />
                            <span class="text-[18px] font-medium">{l.name}</span>
                        </div>
                    </li>
                ))}

            </ul>
        </div>
    </div>
</section>